<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body style="background-color: red;">
        <div>
          <a href="{{ path('newmenu') }}">Créer un menu</a>
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
