<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body style="background-color: red;">
        <div>
          {#% if is_granted('IS_AUTHENTICATED_REMEMBERED') %#}
          {% if app.user %}
            <a href="{{ path('newmenu') }}">Créer un menu</a>
          {% endif %}
        </div>
        {% block body %}{% endblock %}
    </body>
</html>
